.selected-end {
    background-color: red;
    color: white;
}

#root,
.calendar-page {
    background-color: rgb(0, 0, 0);
    min-height: 0;
    /* Ensure it covers the full height of the viewport */
    box-sizing: content-box;
}

/* src/components/Calendar.css */
.calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    /* 800px converted to rem */
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0.5rem;
    /* 8px converted to rem */
    box-shadow: 0 3.125rem 0.625rem #fca53a;
    /* 50px to rem */
    padding: 1.25rem;
    /* 20px converted to rem */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  color: white;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: #000000;
}

.current-month {
  margin: 0;
  font-size: 18px;
}

.calendar-header h2 {
    font-size: 2.5rem;
    /* 40px converted to rem */
    font-weight: 900;
    color: #ffffff;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.9375rem;
    /* 15px converted to rem */
}
.dateDisplay {
    font-size: 1.25rem;
    /* 20px converted to rem */
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 0.625rem;
    /* 10px converted to rem */
}
.day-header {
    font-weight: bold;
    background-color: #ffffff;
    color: #fca53a;
    padding: 0.625rem;
    /* 10px converted to rem */
    border-radius: 0.3125rem;
    /* 5px converted to rem */
}

.day-cell {
    color: #000000;
    position: relative;
    min-height: 60px;
    padding: 5px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.day-cell:past-day {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}
.day-cell:hover:not(.fully-booked):not(.past-day) {

    transform: scale(1.05);
}

.day-number {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 4px;
}

.availability {
    font-size: 0.8em;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: #ffffff00;
    color: #000000;
}

.low-rooms {
    background-color: #ffffff;
    color: #e65100;
}

.no-rooms {
    background-color: #ffffff00;
    color: #ffffff;
}

.fully-booked {
    background-color: #000000;
    cursor: not-allowed;
    opacity: 0.8;
}

.past-day {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: not-allowed;
    opacity: 0.5;
}


.today {
    color: black;
    background-color: #fca53a;
    font-weight: bold;
    border: 1px solid #fca53a;
}

button {
    padding: 1.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fca53a;
}

.empty-cell {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.5
}

.calendar-footer {
    margin-top: 1.25rem;
    /* 20px converted to rem */
    font-size: 1.875rem;
    /* 30px converted to rem */
    color: #000000;
}

.booked-x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    /* 80px converted to rem */
    color: rgb(0, 0, 0);
    pointer-events: none;
}

.past-day {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
    /* Light gray background */
    color: rgb(255, 255, 255);
    /* Darker gray text */
    cursor: not-allowed;
    /* Show a not-allowed cursor */
}

@media (max-width: 37.5rem) {
    .calendar-container {
        margin-top: 135px;
    }

    /* 600px to rem */
    .calendar-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 25rem) {

    /* 400px to rem */
    .calendar-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}