.chatbot-container {
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    /* Adjusted width */
    border: 1px solid var(--background);
    /* Border color */
    border-radius: 8px;
    /* Rounded corners */
    overflow: hidden;
    box-shadow: 0 0 2px 10px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
    background-color: rgb(0, 0, 0);
    /* White background */
    z-index: 97;
    /* Ensure it's on top */
    overflow-y: auto;
    transition: 0.3s;
}

.chatbot-container:hover {
    box-shadow: 0 0 100px 20px rgb(0, 0, 0);

}

.chatbot-header {
    background-color: var(--primary);
    /* Header color */
    color: rgb(0, 0, 0);
    /* Text color */
    padding: 10px;
    /* Padding */
    cursor: pointer;
    text-align: center;
    /* Centered text */
    border-radius: 8px 8px 0 0;
    /* Rounded corners for header */
    display: flex;
    justify-content: space-between;
    /* Space for icons */
    align-items: center;
    /* Center items vertically */
}

.bot-message {    
    background-color: var(--background);
    padding: 10px;
    border-radius: 15px;
    text-align: left;
    max-width: 80%;
    align-self: flex-start;
    white-space: pre-wrap;
    border-radius: 50px;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-message {
    background-color: var(--text);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    text-align: left;
    padding: 10px;
    margin: 8px 0;
    max-width: 80%;
    align-self: flex-end;
}

.chatbot-box {
    display: flex;
    height: 420px;
    flex-direction: column;
}

.chatbot-messages {
    flex: 1;
    color: rgb(255, 255, 255);
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;

}

.chatbot-input-form {
    display: block;
    padding: 10px;
    border-top: 1px solid var(--primary);
    background-color: rgb(0, 0, 0);
}

.chatbot-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 1rem;
}

.chatbot-send-button {
    margin-top: 15px;
    padding: 8px 30px;
    background-color: var(--primary);
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chatbot-send-button:hover {
    background-color: var(--text);
}

.chatbot-messages {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

@keyframes loadingDots {
    0%, 20% { content: "•  "; }
    40% { content: "• • "; }
    60%, 100% { content: "• • •"; }
}

.bot-message:last-child:after {
    content: "• • •";
    animation: loadingDots 1.5s infinite;
    display: inline-block;
    width: 40px;
}