.special-offer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.special-offer-content {
  background: linear-gradient(135deg, var(--background) 0%, var(--background-secondary) 100%);
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 3rem;
  border-radius: 15px;
  width: 90%;
  max-width: 800px;
  position: relative;
  box-shadow: 0 0.625rem 2rem rgba(0, 0, 0, 0.5);
}

.close-button {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: var(--primary);
  font-size: 24px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.close-button:hover {
  color: #ffffff !important;
  background-color: transparent;

}

h2 {
  color: var(--primary);
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.offer-description {
  text-align: center;
  margin-bottom: 2rem;
  color: #e0e0e0;
  line-height: 1.6;
}

.benefits-section {
  background-color: rgba(252, 165, 58, 0.1);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.benefits-section h3 {
  color: var(--primary);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.benefits-section ul {
  list-style: none;
  padding: 0;
}

.benefits-section li {
  margin-bottom: 0.8rem;
  padding-left: 1.5rem;
  position: relative;
  color: #e0e0e0;
}

.benefits-section li::before {
  content: "•";
  color: var(--primary);
  position: absolute;
  left: 0;
}

.price-section {
  text-align: center;
}

.price {
  color: var(--primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.book-now-button {
  background-color: var(--primary);
  color: #1d1307;
  border: none;
  border-radius: 2.5rem; 
  padding: 0.625rem 1.25rem; 
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.book-now-button:hover {
  background-color: #f98b0d;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(252, 165, 58, 0.3);
}

@media (max-width: 768px) {
  .special-offer-content {
    width: 95%;
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .benefits-section {
    padding: 1rem;
  }

  .price {
    font-size: 1.2rem;
  }
}
