
.swal2-popup {
    background-color: var(--background) !important;
    border-radius: 1rem;
    width: 80% !important; 
    color: var(--text) !important;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0.625rem 2rem rgba(0, 0, 0, 0.5);
}

.swal2-title {
    color: var(--primary) !important;
    font-size: 2.5rem !important;
    margin: 0 0 1rem;
}

.swal2-content {
    color: var(--text) !important;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.swal2-confirm {
    background-color: var(--text) !important;
    color: var(--background) !important;
    border-radius: 2.5rem;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.swal2-cancel {
    background-color: transparent;
    color: var(--primary) !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);  
    border: 2px solid var(--primary);
    border-radius: 2.5rem;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.swal2-confirm:hover {
    background-color: var(--primary) !important;
    color: var(--text) !important;
    transform: translateY(-0.125rem);
}

.swal2-confirm:focus-visible {  
    outline: 2px solid  var(--primary) !important;  
  }  

.swal2-cancel:hover {
    background-color: rgba(252, 165, 58, 0.1);
    transform: translateY(-0.125rem);
}

.swal2-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.swal2-styled {
    box-shadow: none !important;
}

.swal2-loader {
    border: 0.25rem solid var(--primary) !important;
}

.swal2-header {
    border-bottom: none;
}

.swal2-close {
    color: var(--primary);
    font-size: 1.5rem;
}
.swal2-close:hover {
    color: var(--text) !important;
    transform: scale(1.6);
}

.swal2-footer {
    padding: 1rem;
}

.swal2-icon {
    border: none;
    width: 4rem;
    height: 4rem;
}
@media (max-width: 480px) {  
    .swal2-popup {  
      width: 95% !important;  
      padding: 1rem !important;  
    }  
  }  